.progress {
  text-align: center;
}

.progress-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  margin: 1rem;
  padding: 0;
}

.close-button {
  background-color: white;
  color: black;
  padding: 2px 20px;
  text-align: center;
  font-size: calc(4px + 2vmin);
  border: solid 1pt black;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
ul {
  text-align: center;
  list-style-type: none;
  list-style: none;
}

.learned-signs {
  max-height: 100px;
  display: inline;
  max-width: 100%;
  padding: 2px;
  width: auto;
}

.progress-data {
  padding-left: 0;
  margin-left: 0;
}