.close-button {
  background-color: white;
  color: black;
  padding: 2px 20px;
  text-align: center;
  font-size: calc(4px + 2vmin);
  border: solid 1pt black;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
ul {
  text-align: center;
  list-style-type: none;
  list-style: none;
}
ul li {
  display: block;
}

.learned-signs {
  max-height: 50px;
  max-width: 50px;
}
.progress-data {
  padding-left: 0;
  margin-left: 0;
}