.question {
  text-align: center;
}

.question-image {
  display: block;
  height: 200px;
  max-width: 100%;
  width: auto;
}

.submit-button {
  background-color: white;
  color: black;
  padding: 2px 20px;
  text-align: center;
  font-size: calc(4px + 2vmin);
  border: solid 1pt black;
  border-radius: 10px;
  margin-bottom: 20px;
}

label, input, button, img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}