.registration {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.registration-form {
  text-align: center;
  width: 100%;
}

@media only screen and (min-width : 1224px) {
  .registration {
    margin: 0 auto;
    max-width: 60rem;
  }

  .registration-form {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: 
      "fieldset fieldset"
      "button button";
  }

  .registration-submit {
    justify-self: center;
    grid-area: button;
  }
}